# python
__pycache__

# Unittesting (tox/pytest)
/.pytest_cache
/.tox

# cython
/src/pytcc.c

# setup.py
/PyTCC.egg-info
/MANIFEST
/dist
/build

# CLion
/.vscode
/.idea
/cmake-build-*

# CMake
/cmake-*
/tinycc-bin

/.vagrant